/* Ensure icons are styled to match the Sketchy Bootstrap theme */
.icon {
    font-size: 1.5rem;
    color: #333;
    margin-right: 0.5rem;
    display: inline-block; /* Ensure icons are displayed inline */
    vertical-align: middle; /* Align icons vertically in the middle */
}

.icon:hover {
    color: #0056b3;
}

.icon-large {
    font-size: 2rem;
}

.icon-small {
    font-size: 1rem;
}

/* Fix footer position */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

.bg-secondary {
  background-color: #3A595C !important;
}

.bg-success {
  background-color: #3A595C !important;
}

.btn-outline-primary {
  color: #192E2F;
  border-color: #192E2F;
}

  .btn-outline-primary:hover {
    color: #fff;
    background-color: #192E2F;
    border-color: #192E2F;
  }
